{% from 'macros/nav.html' import header %}
{% from 'macros/footer.html' import footer %}
<!DOCTYPE html>
<!--set the class = dark-mode if the session theme is dark-->
<html lang="en" class="{{ 'dark-mode' if session.get('theme') == 'dark' }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ title | default('Movie Watchlist') }}</title>
        <link href="https://fonts.googleapis.com/css?family=Public+Sans:400,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        {% block head_content %} {% endblock %}
    </head>
    
    <body>
        <!--call the header function to create the navbar from nav.html-->
        {{ header(session.get("email"), session.get("theme")) }}
        <main class="main">
            <!--create the block where the content of each page will be-->
            {% block main_content %} {% endblock %}
        </main>
        <!--call the footer function to create the footer from footer.html-->
        {{ footer() }}
    </body>
</html>
